@page "/AppointmentSuccessful"

@inject ICustomerSessionData SessionData

@if (AppointmentID == 0)
{
	<div class="alert alert-dark text-center" role="alert">
		<h1>Nothing to see here!</h1>
		<NavLink class="btn btn-primary" href="">Go back to Home</NavLink>
	</div>
}
else
{
	<div class="alert alert-success text-center" role="alert">
		<h1 class="alert-heading">Appointment Successful!</h1>
		<hr>
		<h2>Booking successful for vehicle <b>@AppointmentNumberPlate</b> on <b>@AppointmentDate.ToShortDateString()</b>.</h2>
		<h3>We will be waiting for you <b>between 8:00AM and 9:00M</b>.</h3>
		<h3>Thanks for trusting us!</h3>


		<NavLink class="btn btn-primary" href="">Go back to Home</NavLink>
	</div>

}

@code {
	public int AppointmentID;
	public string AppointmentNumberPlate;
	public DateTime AppointmentDate;

	protected override void OnParametersSet()
	{
		AppointmentID = SessionData.GetAppointmentID();
		AppointmentDate = SessionData.GetAppointmentDate();
		AppointmentNumberPlate = SessionData.GetAppointmentNumberPlate();
	}
}