@inject IVehicleDataService VehicleData
@inject NavigationManager NavigationManager
@inject IManagerSessionData ManagerSession

<h3>Customer Vehicles</h3>

@if (_vehicles == null)
{
	<h4>Loading...</h4>
}
else
{
	foreach (var v in _vehicles)
	{
		<div class="alert-info">
			<p>Number Plate: @v.NumberPlate <button class="btn btn-dark" @onclick="(() => GoToVehicle(v.ID))">Go to Vehicle</button></p>
			<p>@v.Make @v.Model - @v.Year</p>
		</div>
	}
}

@code {
	[Parameter]
	public int CustomerID { get; set; }

	private List<IVehicleModel> _vehicles;

	protected override async Task OnParametersSetAsync()
	{
		// Get vehicles from DB
		_vehicles = await VehicleData.GetVehiclesByCustomerID(CustomerID);
	}

	private void GoToVehicle(int vehicleID)
	{
		ManagerSession.SetLastPage("/SearchCustomers");
		NavigationManager.NavigateTo($"/Vehicle/{vehicleID}");
	}
}