@inject IVehicleDataService VehicleData
@inject NavigationManager NavigationManager
@inject IManagerSessionData ManagerSession

<div class="w-75 mx-auto">
	<h3 class="text-center">Customer Vehicles</h3>

	<div class="alert alert-dark">
		
	@if (_vehicles == null)
	{
		<h4>Loading...</h4>
	}
	else
	{
		foreach (var v in _vehicles)
		{
			<div class="alert alert-info text-center">
				<p><b>Number Plate:</b> @v.NumberPlate</p>
				<p>@v.Make @v.Model - @v.Year</p>
				<button class="btn btn-primary" @onclick="(() => GoToVehicle(v.Id))">Go to Vehicle</button>
			</div>
		}
	}
	</div>

</div>

@code {
	[Parameter]
	public int CustomerId { get; set; }

	private List<IVehicleModel> _vehicles;

	protected override async Task OnParametersSetAsync()
	{
		// Get vehicles from DB
		_vehicles = await VehicleData.GetVehiclesByCustomerId(CustomerId);
	}

	private void GoToVehicle(int vehicleId)
	{
		ManagerSession.SetLastPage(NavigationManager.Uri);
		NavigationManager.NavigateTo($"/Vehicle/{vehicleId}");
	}
}