@inject ICustomerDataService CustomerData

<div class="w-75 mx-auto">
	

<h3 class="text-center">Update Customer</h3>

<EditForm Model="@_customerToUpdate" OnValidSubmit="HandleValidSubmit">
	<DataAnnotationsValidator/>
	<ValidationSummary/>

	<div class="form-group">
		<label class="fw-bold">ID:</label>
		<input class="form-control" disabled readonly value="@_customerToUpdate.ID"/>
	</div>

	<div class="form-group">
		<label class="fw-bold">First Name</label>
		<InputText @bind-Value="_customerToUpdate.FirstName" class="form-control" />
	</div>

	<div class="form-group">
		<label class="fw-bold">Last Name</label>
		<InputText @bind-Value="_customerToUpdate.LastName" class="form-control" />
	</div>

	<div class="form-group">
		<label class="fw-bold">Email</label>
		<InputText @bind-Value="_customerToUpdate.Email" class="form-control" />
	</div>

	<div class="form-group">
		<label class="fw-bold">Phone Number</label>
		<InputText @bind-Value="_customerToUpdate.PhoneNumber" class="form-control" />
	</div>

	<div class="form-group">
		<label class="fw-bold">Address</label>
		<InputText @bind-Value="_customerToUpdate.Address" class="form-control" />
	</div>

	<button class="btn btn-primary mt-2" type="submit">Update</button>

</EditForm>

</div>

@code {
	[Parameter]
	public EventCallback<ICustomerModel> OnUpdate { get; set; }

	[Parameter]
	public ICustomerModel Customer { get; set; }

	private ICustomerModel _customerToUpdate = new UICustomerModel();

	private async Task HandleValidSubmit()
	{
		await CustomerData.UpdateCustomer(_customerToUpdate);
		await OnUpdate.InvokeAsync(_customerToUpdate);
	}

	protected override void OnParametersSet()
	{
		_customerToUpdate.ID = Customer.ID;
		_customerToUpdate.FirstName = Customer.FirstName;
		_customerToUpdate.LastName = Customer.LastName;
		_customerToUpdate.PhoneNumber = Customer.PhoneNumber;
		_customerToUpdate.Email = Customer.Email;
		_customerToUpdate.Address = Customer.Address;
	}
}
