@page "/"
@using BlazorApp.Pages.Manager.Components

<PageTitle>Index</PageTitle>

@* @if (Environment.GetEnvironmentVariable("DOTNET_RUNNING_IN_CONTAINER") == "true") *@
@* { *@
@* 	<h1>@Environment.GetEnvironmentVariable("SyncfusionKey")</h1> *@
@* 	<h1>@Environment.GetEnvironmentVariable("ConnectionStrings__SQLDB")</h1> *@
@* 	<h1>@Environment.GetEnvironmentVariable("TZ")</h1> *@
@* } *@


<AuthorizeView>
	<NotAuthorized>

		<PageTitle>Gus' Auto Repairs</PageTitle>
        <div>

			<h1 class="text-center display-3">Welcome to Gus' Auto Repairs!</h1>

			<hr />

			<div class="row mt-4 justify-content-center">
				<div class="col-4 text-center">
					<img src="./Images/car.jpg" alt="A car sitting in a garage." class="rounded img-fluid"/>
				</div>

				<div class="col-4 text-end">
					<h2 class="display-6 fw-normal">Services</h2>
					<p class="lead">We offer a wide range of comprehensive services to keep your vehicle running smoothly. From routine maintenance and inspections to major repairs, our skilled mechanics are equipped to handle it all. Whether you need an oil change, brake service, engine diagnostics, or any other automotive service, we've got you covered. Rest assured, your vehicle is in capable hands.</p>
				</div>
			</div>

			<div class="row mt-4 justify-content-center">
				<div class="col-4">
					<h2 class="display-6 fw-normal">About Me</h2>
					<p class="lead"> With years of experience in the industry, we are committed to providing exceptional service and care for your vehicle. Our skilled team of mechanics is dedicated to ensuring your car is in top-notch condition, using advanced technology and techniques. Trust us to handle all your automotive needs with professionalism and expertise.</p>
				</div>

				<div class="col-4 text-center">
					<img src="./Images/me.jpg" alt="Working on a car." class="rounded img-fluid"/>
				</div>
			</div>

			<BlazorApp.Pages.Customer.Carousel/>

			<hr />	

		</div>



	</NotAuthorized>
</AuthorizeView>


<AuthorizeView Roles="Manager">
	
	<PageTitle>Manager Dashboard</PageTitle>
	
	<h1 class="text-center display-3 fw-normal">Manager Dashboard</h1>
	
	<ManagerDashboard/>

</AuthorizeView>

<AuthorizeView Roles="Mechanic">

	<PageTitle>Mechanic Dashboard</PageTitle>

	<h1 class="text-center">Your Dashboard</h1>

	<MechanicDashboard/>

</AuthorizeView>