@page "/"
<PageTitle>Index</PageTitle>

<AuthorizeView>
	<NotAuthorized>

		<h1>Customer Index</h1>

	</NotAuthorized>
</AuthorizeView>


<AuthorizeView Roles="Manager">

	<h1>Manager Dashboard</h1>
	<ManagerDashboard/>

</AuthorizeView>

<AuthorizeView Roles="Mechanic">

	<h1>Mechanic Dashboard</h1>

	<MechanicDashboard/>

</AuthorizeView>