@page "/TestCreateStock"
@inject IStockDataService stockData

<h3>TestCreateStock</h3>

<div class="row">
	<div class="col-md-4">
		<EditForm Model="@stockItem" OnValidSubmit="HandleValidSubmit">
			<DataAnnotationsValidator />
			<ValidationSummary />

			<div class="mb-3">
				<label>Item Name:</label>
				<InputText @bind-Value="stockItem.ItemName" class="form-control" />
			</div>
			<div class="mb-3">
				<label>Quantity:</label>
				<InputNumber @bind-Value="stockItem.Quantity" class="form-control" />
			</div>
			<div class="mb-3">
				<label>Unit:</label>
				<InputText @bind-Value="stockItem.Unit" class="form-control" />
			</div>
			<div class="mb-3">
				<label>Minimum Quantity Alarm:</label>
				<InputNumber @bind-Value="stockItem.AlarmMinimum" class="form-control" />
			</div>
			<button class="btn btn-primary" type="submit">Create Stock Item</button>
		</EditForm>
	</div>
</div>



@code {
	private IStockItemModel stockItem = new UIStockItemModel();

	private void HandleValidSubmit()
	{
		try
		{
			stockData.CreateStockItem(stockItem);
		}
		catch (Exception ex)
		{
			Console.WriteLine(ex);
		}

		stockItem = new UIStockItemModel();
	}
}
