@inject IStatisticsDataService statisticsData

<h3>TestGraph</h3>

<SfAccumulationChart Title="Test">
	<AccumulationChartSeriesCollection>
		<AccumulationChartSeries Type="AccumulationType.Pie" DataSource="@ChartData" XName="Make" YName="VehicleCount">
			<AccumulationChartTooltipSettings Enable="true"></AccumulationChartTooltipSettings>
		</AccumulationChartSeries>
	</AccumulationChartSeriesCollection>
</SfAccumulationChart>

@code {
	public List<IMakeCountDataModel> ChartData;

	protected override async Task OnInitializedAsync()
	{
		ChartData = await statisticsData.GetMakeCountStatistics();

	}
}