@inject IManagerSessionData ManagerSession
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Gus' Auto Repairs
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link px-3" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @* User Nav Menu Links *@
        <AuthorizeView>
	        <NotAuthorized>
            <div class="nav-item px-3">
                    <NavLink class="nav-link px-3" href="BookAppointment">
                    <span class="oi oi-book" aria-hidden="true"></span> Book An Appointment
                </NavLink>
            </div>

        <div class="nav-item px-3">
                    <NavLink class="nav-link px-3" href="PastReports">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Search Past Reports
            </NavLink>
        </div>
            </NotAuthorized>
        </AuthorizeView>

        @* Mechanic Nav Menu Links *@
        <AuthorizeView Roles="Mechanic">
            <div class="nav-item px-3">
                <NavLink class="nav-link px-3" href="Jobs">
                    <span class="oi oi-wrench" aria-hidden="true"></span> Jobs
                </NavLink>
            </div>
        </AuthorizeView>

        @* Manager Nav Menu Links *@
        <AuthorizeView Roles="Manager">
            <div class="nav-item px-3" @onclick="(SaveLastPage)">
                <NavLink class="nav-link px-3" href="ManageJobCards">
                    <span class="oi oi-wrench" aria-hidden="true"></span> Job Cards
                </NavLink>
            </div>
            
            <div class="nav-item px-3" @onclick="(SaveLastPage)">
                <NavLink class="nav-link px-3" href="Reports">
                    <span class="oi oi-task" aria-hidden="true"></span> Reports
                </NavLink>
            </div>

            <div class="nav-item px-3" @onclick="(SaveLastPage)">
                <NavLink class="nav-link px-3" href="SearchCustomer">
                    <span class="oi oi-people" aria-hidden="true"></span> Search Customer
                </NavLink>
            </div>
                        
            <div class="nav-item px-3" @onclick="(SaveLastPage)">
                <NavLink class="nav-link px-3" href="SearchVehicle">
                    <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Search Vehicle
                </NavLink>
            </div>
                 
            <div class="nav-item px-3" @onclick="(SaveLastPage)">
                <NavLink class="nav-link px-3" href="Inventory">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> View Inventory
                </NavLink>
            </div>

        </AuthorizeView>

    </nav>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

    private void SaveLastPage()
    {
        ManagerSession.SetLastPage(NavigationManager.Uri);
    }
}
