@using DataAccessLibrary.Data.Interfaces
@using System.Runtime.CompilerServices
@inject IStockDataService StockData
@inject NavigationManager NavigationManager
@inject IManagerSessionData ManagerSession


<h3 class="text-center">New Item</h3>

<div class="col-8 justify-content-center mx-auto alert alert-dark">
	
	<EditForm Model="@_stockItem" OnValidSubmit="HandleValidSubmit">
		<DataAnnotationsValidator/>
		<ValidationSummary/>

		<div class="mb-3">
			<label>Item Name:</label>
			<InputText @bind-Value="_stockItem.ItemName" class="form-control"/>
		</div>
		<div class="mb-3">
			<label>Quantity:</label>
			<InputNumber @bind-Value="_stockItem.Quantity" class="form-control"/>
		</div>
		<div class="mb-3">
			<label>Unit:</label>
			<InputText @bind-Value="_stockItem.Unit" class="form-control"/>
		</div>
		<div class="mb-3">
			<label>Minimum Quantity Alarm:</label>
			<InputNumber @bind-Value="_stockItem.AlarmMinimum" class="form-control"/>
		</div>
		<div class="text-center">
			<button class="btn btn-primary" type="submit">Create Stock Item</button>
		</div>
	</EditForm>
</div>



@code {
	[Parameter]
	public EventCallback<IStockItemModel> OnUpdate { get; set; }

	private IStockItemModel _stockItem = new UIStockItemModel();

	private async Task HandleValidSubmit()
	{
		int newItemId = await StockData.CreateStockItem(_stockItem);

		_stockItem.Id = newItemId;

		await OnUpdate.InvokeAsync(_stockItem);

		_stockItem = new UIStockItemModel();
	}
}
